<!DOCTYPE html>
<html lang="fr" 
xmlns:th="http://www.thymeleaf.org"
th:replace="~{layouts/main-layout :: layout('Ajouter un produit', ~{::section})}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <title>Ajouter un produit</title>
</head>
<body>

       
    
    <main >
        <section>
        <div class="m-3">
            <form th:action="@{/enregistrerProduit}" method="post" th:object="${produit}">
                <input type="hidden" name="id" th:value="${produit.id}">
                <div class="mb-3">
                    <label for="description" class="form-label"> Type du produit:</label>
                    <select class=" form-select mb-3" th:field="*{typeProduit}">
                            <option value="1">Pizza</option>
                            <option value="2">Boisson</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="nom"  class="form-label">Nom du produit:</label>
                    <input type="text" name="nom" th:field="*{nom}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"> Description du produit:</label>
                    <input type="text" name="description" th:field="*{description}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"> Prix du produit:</label>
                    <input type="text" name="description" th:field="*{prix}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary"> Ajouter à la carte des produits</button>
            </form>
        </div>
    </section>
    </main>
    
</body>
</html>

