<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJouter pizzas</title>
</head>
<body>
    <h1>Ajouter pizzas</h1>
    <main>
        <form action="/enregistrerPizza" method="post">
            <p>Nom de la pizza:</p>
            <input type="text" name="nomPizza">
            <br>
            <p>Ingrédients:</p>
            <input type="text" name="ingrédientPizza">
            <br>
            <button type="submit"> Ajouter à la carte des pizzas</button>
        </form>
    </main>
    
</body>
</html>