<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte</title>
</head>
<body>
    <header>
        <a href="/ajouterPizza"> Ajouter une pizza</a>
        <a href="/panier"> Panier</a>


    </header>
    <h1>Carte des pizzas</h1>
 <main>
    <h2>Pizza 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsam culpa possimus aut! Cumque eos pariatur nostrum quos assumenda a mollitia labore expedita accusantium. Maxime adipisci unde quia magni quas!</p>
    <a>Modifier</a>
    <a>Supprimer</a>
    <h2>Pizza 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsam culpa possimus aut! Cumque eos pariatur nostrum quos assumenda a mollitia labore expedita accusantium. Maxime adipisci unde quia magni quas!</p>
    <a>Modifier</a>
    <a>Supprimer</a>
    <h2>Pizza 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsam culpa possimus aut! Cumque eos pariatur nostrum quos assumenda a mollitia labore expedita accusantium. Maxime adipisci unde quia magni quas!</p>
    <a>Modifier</a>
    <a>Supprimer</a>

</main>   
</body>
</html>