<!DOCTYPE html>
<html lang="fr" 
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/main-layout :: layout('Mon panier', ~{::section})}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <title>Mon panier</title>
</head>
<body>
 <main>

   
    <section>
      <a href="/carte">Carte des pizzas</a>

    
    
      


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Quantité</th>
          <th scope="col">prix</th>
          
        </tr>
      </thead>
      <tbody  >
        
        <tr th:each=" detailCommande : ${panier.detailsCommande}">
          <th th:text ="${detailCommande.produit.nom}"></th>
          <td th:text ="${detailCommande.quantite}"></td>
          <td th:text ="${detailCommande.produit.prix}"></td>
          
        </tr>
      </tbody>
    </table>

    <form th:action="@{/enregistrerCommande}" method="post" th:object="${panier}">
      
      <button type="submit" class="btn btn-primary">Commander</button></td>
    </form>


    </section>
  </main>   

</body>
</html>