<!DOCTYPE html>
<html lang="fr" 
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/main-layout :: layout('Mon panier', ~{::section})}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <title>Mon panier</title>
</head>
<body>
 <main>

   
    <section >
      

    
      <div class="container">

        <div class="row">

          <div class=" mb-4">

            <div class="text-center">

              <a href="/carte">Retour sur la page de choix des pizza</a>

            </div>

            

            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Prix Unitaire</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody  id="tableauLignes">
                
                <tr class="" th:each=" detailCommande : ${panier.detailsCommande}">
                  <th th:text ="${detailCommande.produit.nom}"></th>
                  <td  ><i class="fa-solid fa-minus me-3"></i><span class="quantite" th:text ="${detailCommande.quantite}"></span><i class="fa-solid fa-plus ms-3"></i></td>
                  <td class="prixU" th:text ="${detailCommande.produit.prix}"></td>
                  <td ><i class="fa-solid fa-trash"></i></td>

                </tr>
              </tbody>
            </table>

            <div>
              <span>Total : </span>
              <span id="total">A VENIR</span>
            </div>
        
            <form th:action="@{/enregistrerCommande}" method="post" th:object="${panier}">

              <div class="mb-3">
                <label for="dateHeureLivraison"  class="form-label">Date et heure de livraison:</label>
                 <!--<input type="datetime-local" name="dateHeureLivraison" th:field="*{panier.dateHeureLivraison}"  class="form-control"> -->
                <input type="datetime-local" name="dateHeureLivraison"   class="form-control">
            </div>
              
              <button type="submit" class="btn btn-primary">Commander</button></td>
            </form>

          </div>



        </div>

      </div>
      

  <script>

        function calculTotalPanier() {

          let totalCommande = 0;


        let tableauLignes = document.getElementById("tableauLignes");
        let listeTr = tableauLignes.getElementsByTagName("tr");
        for (const leTr of listeTr) {
          
          console.log(leTr.getElementsByClassName('prixU')[0].innerText);
          let prixU = leTr.getElementsByClassName('prixU')[0].innerText;

          console.log(leTr.getElementsByClassName('quantite')[0].innerText);
          let quantite = leTr.getElementsByClassName('quantite')[0].innerText;

          let totalLigne = prixU * quantite;
          console.log(totalLigne);
          totalCommande += totalLigne;
                  
        }

        console.log(totalCommande);

        let affichageTotal = document.getElementById("total");

        affichageTotal.textContent = totalCommande;

        }
        calculTotalPanier()


  </script>


    </section>
  </main>   

  
  

</body>
</html>